{% extends "layouts/base.njk" %}

{% from "nhsuk/components/inset-text/macro.njk" import insetText as nhsukInsetText %}

{% block beforeContent %}
  {{ nhsukBreadcrumb({
    items: breadcrumbItems
  }) if showBreadcrumbs }}
{% endblock %}

{% block content %}
  {{ appDocumentHeader({
    caption: caption,
    title: title,
    description: description
  }) }}

  {% call nhsukInsetText() %}
    {{ "Replace placeholders with the correct names, dates and URLs." | markdown }}

    {{ "[Find out how to get the consent form URL for each school](/guide/sharing-consent/)." | markdown if isConsentRequest }}
  {% endcall %}

  <article class="app-email nhsuk-u-reading-width">
    <h2 class="app-email__subject">{{ subject | markdown("inline") }}</h2>

    <hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-section-break--m">

    {{ nhsukHeader({
      classes: "nhsuk-header--white"
    }) }}

    {{ content | safe }}
  </article>
{% endblock %}
